@model List<LILI_FPMS.Models.GetSearchProcessOrderList>
<!-- Modal -->
<div class="modal fade" id="add-Requisition" tabindex="-1" role="dialog" aria-labelledby="addContactLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#0c8599; color:white;">
                <h5 class="modal-title" id="addContactLabel">Add Requisition</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">                
                <form class="form-horizontal"  asp-action="SearchRequisition" style="padding-bottom:30px">
                    <div class="card-body">
                        <div class="form-group">
                           @* <div class="col-sm-10">
                                <input type="text" asp-for="RequisitionNo" class="form-control" placeholder="RequisitionNo">
                                <span asp-validation-for="RequisitionNo"></span>
                            </div>*@

                             <div class="col-sm-10">
                                <input type="text" Id="RequisitionNo" class="form-control" placeholder="RequisitionNo">
                                
                            </div>
                            <div class="col-sm-2">
                                <a id="btnSearch" class="btn btn-primary">search</a>
                            </div>
                        </div>

                        <table id="tblRequisitionMaster" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="width:3%">Select</th>
                                    <th style="width:10%;">ProcessOrderNo</th>
                                    <th style="width:5%">Product Code</th>
                                    <th style="width:20%">Product Name</th>
                                </tr>
                            </thead>
                            <tbody id="tblRequisitionSearchBody" class="js_tbl_body">
                                @{
                                    int i = 0; @*To make unique Id*@
                                    foreach (var item in Model)
                                    {
                                                                                @*@Html.HiddenIndexerInputForModel()*@
                                        var index = i;
                                                                                <tr>
                                                                                    <td style="display:none"><input name='tblProductDetail.Index' type="hidden" value=@index /></td>
                                                                                    <td>@Html.RadioButtonFor(modelItem => item.ProcessOrderNo, item.ProcessOrderNo)</td>
                                                                                    <td>@Html.DisplayFor(modelItem => item.ProcessOrderNo, new { @id = "ProcessOrderNo_" + i })</td>
                                                                                    <td>@Html.DisplayFor(modelItem => item.ProductCode, new { @id = "ProductCode_" + i })</td>
                                                                                    <td>@Html.DisplayFor(modelItem => item.ProductName, new { @id = "ProductName_" + i })</td>
                                                                                    @*<td><input type="button" value="Remove" onClick="$(this).closest('tr').remove();"></td>*@
                                                                                </tr>
                                        i++;
                                    }
                                }
                            </tbody>
                        </table>                        
                    </div>
                </form>                

            </div>
            <div class="modal-footer" style="background-color:#0c8599; ">
                <button type="button" id="SetRequisitionInfo" class="btn btn-warning" data-dismiss="modal" >Ok</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                @*<button type="button" id="SetExperties" class="btn btn-primary" data-save="modal">Ok</button>*@
            </div>
        </div>
    </div>
</div>




<script type="text/javascript">

    

    $(document).ready(function () {
        // $(window).keydown(function (event) {
        //     if (event.keyCode == 13) {
        //         event.preventDefault();

        //         var RequisitionNo = $("#RequisitionNo").val();
        //         if (RequisitionNo != '') {
        //             $.ajax({
        //                 type: "POST",
        //                 url: "/QC/SearchRequisition",
        //                 data: { RequisitionNo: RequisitionNo },
        //                 success: function (msg) {
        //                     console.log(msg);

        //                     $("#tblRequisitionMaster #tblRequisitionSearchBody").empty();
        //                     var tr = '';
        //                     for (var i = 0; i < msg.length; i++) {
        //                         tr = $('<tr/>');
        //                         tr.append("<td>" + '<input name="RequisitionNo" type="radio" value="' + msg[i].RequisitionNo + '"></label>' + "</td>");
        //                         tr.append("<td>" + msg[i].RequisitionNo + "</td>");
        //                         tr.append("<td>" + msg[i].ProductCode + "</td>");
        //                         tr.append("<td>" + msg[i].ProductName + "</td>");
        //                         $("#tblRequisitionMaster #tblRequisitionSearchBody").append(tr);
        //                     }
        //                 },
        //                 error: function () {
        //                     //$('#ExpertiesId').val('');
        //                     //$('#ExpertArea').val('');
        //                     //$('#ExpertDesc').val('');
        //                 }
        //             });
        //         }

        //        // return false;
        //     }
        // });

        $('#btnSearch').on('click', function () {
            var processOrderNo = $("#ProcessOrderNo").val();
            //if (RequisitionNo != '') {
                $.ajax({
                    type: "POST",
                    url: "/QC/SearchProcessOrder",
                    data: { ProcessOrderNo: processOrderNo },
                    success: function (msg) {
                        console.log(msg);

                        $("#tblRequisitionMaster #tblRequisitionSearchBody").empty();
                        var tr = '';
                        for (var i = 0; i < msg.length; i++) {
                            tr = $('<tr/>');
                            tr.append("<td>" + '<input name="ProcessOrderNo" type="radio" value="' + msg[i].ProcessOrderNo + '"></label>' + "</td>");
                            tr.append("<td>" + msg[i].ProcessOrderNo + "</td>");
                            tr.append("<td>" + msg[i].ProductCode + "</td>");
                            tr.append("<td>" + msg[i].ProductName + "</td>");
                            $("#tblRequisitionMaster #tblRequisitionSearchBody").append(tr);
                        }
                    },
                    error: function () {
                        //$('#ExpertiesId').val('');
                        //$('#ExpertArea').val('');
                        //$('#ExpertDesc').val('');
                    }
                });
            //}
        });

        $('#SetRequisitionInfo').on('click', function () {
            var RequisitionNo = $("input:checked").val();
            if (RequisitionNo != '') {
                $.ajax({
                    type: "POST",
                    url: "/QC/SetRequisitionInfomation",
                    data: { ProcessOrderNo: RequisitionNo },
                    success: function (msg) {
                        $('#js_requisition_no').val('');
                        //$('#LinkedProcessNo').val('');
                        $('#BatchNo').val('');
                        $('#ProductCode').val('');
                        $('#ProductName').val('');
                        $('#Unit').val('');
                        $('#BatchSize').val(''); 
                        $('#AvailableStock').val();
                        $('#FGQCQtyConversionFactor').val();
                        $("#IsSendToFloorStockFG").prop("checked", false);

                        for (var i = 0; i < msg.length; i++) {
                            console.log(msg[i].ProcessOrderNo);
                            $('#js_requisition_no').val(msg[i].ProcessOrderNo);
                            // $('#LinkedProcessNo').val(msg[i].LinkedProcessNo);
                            $('#BatchNo').val(msg[i].BatchNo);
                            $('#ProductCode').val(msg[i].ProductCode);
                            $('#ProductName').val(msg[i].ProductName);
                            $('#Unit').val(msg[i].PackSize);
                            $('#BatchSize').val(msg[i].BatchSize);
                            $('#AvailableStock').val(msg[i].AvailableStock);
                            $('#FGQCQtyConversionFactor').val(msg[i].ConversionValue);
                            let productCode = (msg[i].ProductCode).substring(0,3);
                            if (productCode == 'SFG')
                            {
                                $("#IsSendToFloorStockFG").prop("checked", true);
                            }
                        }                        
                    },
                    error: function () {
                        $('#js_requisition_no').val('');
                        //$('#LinkedProcessNo').val('');
                        $('#BatchNo').val('');
                        $('#ProductCode').val('');
                        $('#ProductName').val('');
                        $('#Unit').val('');
                        $('#BatchSize').val('');
                        $('#AvailableStock').val();
                        $('#FGQCQtyConversionFactor').val();
                    }
                });

                $.ajax({
                    type: "POST",
                    url: "/QC/GetProcessNumber",
                    data: { RequisitionNo: RequisitionNo },
                    success: function (result) {

                        console.log(result);    
                        var formoption = "<option value='" + 0 + "'>" + "-- Select Process --" + "</option>";
                        for (var i = 0; i < result.length; i++) {
                            if (result[i].ProcessNo != '') {
                                if (result[i].ProcessNo != undefined) {
                                    formoption += "<option value='" + result[i].ProcessNo + "'>" + result[i].ProcessNo + "</option>";
                                }
                            }
                        }
                        $('#ProcessNo').html(formoption);
                    },
                    error: function () {
                       
                    }
                });               

            }
        });

        $('#ProcessNo').on('change', function () {
            //alert(this.value);
            $.ajax({
                type: "POST",
                url: "/QC/GetQCQuantity",
                data: { ProcessNo: this.value },
                success: function (result) {
                    $('#Qcqty').val('');    
                    for (var i = 0; i < result.length; i++) {
                        $('#FGQCQtyBeforeConversion').val((parseFloat(result[i].ProductionQty) - parseFloat(result[i].QCReferenceSampleQty) - parseFloat(result[i].LumpQty)));
                        //$('#Qcqty').val(result[i].ProductionQty);
                        var conversionFactor = $('#FGQCQtyConversionFactor').val();
                        $('#Qcqty').val(((parseFloat(result[i].ProductionQty) - parseFloat(result[i].QCReferenceSampleQty) - parseFloat(result[i].LumpQty)) / parseFloat(conversionFactor)).toFixed(5));
                        $('#SFGQcqty').val(result[i].SFGProductionQty);
                        $('#BatchNo').val(result[i].BatchNo);
                        
                    }
                },
                error: function () {

                }
            });

            var productCode = $("#ProductCode").val();
            GetTypeWiseQCParameter(productCode);
        });


       

    });
       

</script>