@model LILI_FPMS.Models.TblMonthlyPlanningDetail
<!-- Modal -->
<div class="modal fade" id="add-product" tabindex="-1" role="dialog" aria-labelledby="addContactLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#0c8599; color:white;">
                <h5 class="modal-title" id="addContactLabel">Add product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">                
                <form class="form-horizontal"  asp-action="SearchProduct" style="padding-bottom:30px">
                    <div class="card-body">
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input type="text" asp-for="Fgcode" class="form-control" placeholder="ProductCode">
                                <span asp-validation-for="Fgcode"></span>
                            </div>
                            <div class="col-sm-2">
                                <a id="btnSearch" class="btn btn-primary">search</a>
                            </div>
                        </div>

                        <table id="tblProduct" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="width:10%">Id</th>
                                    <th style="width:45%">ProductCode</th>
                                    <th style="width:45%">Name</th>
                                </tr>
                            </thead>
                            <tbody id="tblProductBody">
                            </tbody>
                        </table>                        
                    </div>
                </form>                

            </div>
            <div class="modal-footer" style="background-color:#0c8599; ">
                <button type="button" id="SetProduct" class="btn btn-warning" data-dismiss="modal" >Ok</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                @*<button type="button" id="SetExperties" class="btn btn-primary" data-save="modal">Ok</button>*@
            </div>
        </div>
    </div>
</div>




<script type="text/javascript">

    

    $(document).ready(function () {
        $(window).keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();

                var ProductSearchKey = $("#Fgcode").val();
                if (ProductSearchKey != '') {
                    $.ajax({
                        type: "POST",
                        url: "/MonthlyPlanning/SearchProduct",
                        data: { ProductSearchKey: ProductSearchKey },
                        success: function (msg) {
                            console.log(msg);

                            $("#tblProduct #tblProductBody").empty();
                            var tr = '';
                            for (var i = 0; i < msg.length; i++) {
                                tr = $('<tr/>');
                                tr.append("<td>" + '<input name="ProductCode" type="radio" value="' + msg[i].ProductCode + '"></label>' + "</td>");
                                tr.append("<td>" + msg[i].ProductCode + "</td>");
                                tr.append("<td>" + msg[i].ProductName + "</td>");
                                $('#tblProduct #tblProductBody').append(tr);
                            }
                        },
                        error: function () {
                            //$('#ExpertiesId').val('');
                            //$('#ExpertArea').val('');
                            //$('#ExpertDesc').val('');
                        }
                    });
                }

               // return false;
            }
        });

        $('#btnSearch').on('click', function () {
            var ProductSearchKey = $("#Fgcode").val();
            if (ProductSearchKey != '') {
                $.ajax({
                    type: "POST",
                    url: "/MonthlyPlanning/SearchProduct",
                    data: { ProductSearchKey: ProductSearchKey },
                    success: function (msg) {
                        console.log(msg);

                        $("#tblProduct #tblProductBody").empty();
                        var tr = '';
                        for (var i = 0; i < msg.length; i++) {
                            tr = $('<tr/>');
                            tr.append("<td>" + '<input name="ProductCode" type="radio" value="' + msg[i].ProductCode + '"></label>' + "</td>");
                            tr.append("<td>" + msg[i].ProductCode + "</td>");
                            tr.append("<td>" + msg[i].ProductName + "</td>");
                            $('#tblProduct #tblProductBody').append(tr);
                        }
                    },
                    error: function () {
                        //$('#ExpertiesId').val('');
                        //$('#ExpertArea').val('');
                        //$('#ExpertDesc').val('');
                    }
                });
            }
        });

        $('#SetProduct').on('click', function () {
            var ProductCode = $("input:checked").val();
            if (ProductCode != '') {
                $.ajax({
                    type: "POST",
                    url: "/MonthlyPlanning/SetProduct",
                    data: { ProductCode: ProductCode },
                    success: function (msg) {
                        $('#ProductCode').val('');
                        $('#ProductName').val('');

                        for (var i = 0; i < msg.length; i++) {
                            $('#ProductCode').val(msg[i].ProductCode);
                            $('#ProductName').val(msg[i].ProductName);
                        }
                    },
                    error: function () {
                        $('#ProductCode').val('');
                        $('#ProductName').val('');
                    }
                });
            }
        });

        });
       

</script>